# 1. Basic programming

In [ ]:
!python --version

Python 3.7.13

In [ ]:
print("Hello World")

Hello World

In [ ]:
print('this is rafid"s car')

this is rafid"s car

In [ ]:
print("this is rafid's car")
print("this is rafid's car")
print("this is rafid's car")
print("this is rafid's car")
print("this is rafid's car")

this is rafid's car
this is rafid's car
this is rafid's car
this is rafid's car
this is rafid's car

In [ ]:
print("this is rafid's car",end=",") # \n -> endl,break
print("this is rafid's car",end=",")
print("this is rafid's car",end=",")
print("this is rafid's car",end=",")
print("this is rafid's car",end=" ")

this is rafid's car,this is rafid's car,this is rafid's car,this is rafid's car,this is rafid's car

In [ ]:
a = "Rafid"
print(a)
print(type(a))

Rafid
<class 'str'>

In [ ]:
a = 5
a = 7
a = 10.5
a = 15

print(a)

15

In [ ]:
a = 5 
b = 7

c = a+b

print(c)

12

In [ ]:
a = input()
b = input()

print(type(a))
print(type(b))

a = int(a)
b = int(b)

print(type(a))
print(type(b))
c = a+b

print(c)

10
20
<class 'str'>
<class 'str'>
<class 'int'>
<class 'int'>
30

In [ ]:
a = int(input("Enter a number : "))
b = int(input("Enter a number : "))


c = a+b

print(c)

Enter a number : 10
Enter a number : 20
30

In [ ]:
a = int(input("Enter a number : "))
b = int(input("Enter a number : "))


c = a+b

print("The sum of two number is : ",c)

Enter a number : 10
Enter a number : 20
The sum of two number is :  30

In [ ]:
a = int(input("Enter a number : "))
b = int(input("Enter a number : "))

if a>b:
  print("a is largest")

else :
  print("b is largest")

Enter a number : 10
Enter a number : 20
b is largest

In [ ]:
a = int(input("Enter a number : "))
b = int(input("Enter a number : "))
c = int(input("Enter a number : "))

if a>b and a>c:
  print("a is largest")

elif b>a and b>c:
  print("b is largest")

else:
  print("c is largest")

Enter a number : 20
Enter a number : 50
Enter a number : 10
b is largest

In [ ]:
def print_hello():
  print("hello")

print_hello()

hello

In [ ]:
def full_name(f_name, l_name):
  print(f_name+" "+l_name)

In [ ]:
full_name("Aquib","Azmain")

Aquib Azmain

In [ ]:
def sum_numbers(a, b, c):
  result=a+b+c
  return result

def sqr(x, y, z):
  p = sum_numbers(x, y, z)
  sqr_result = p**2
  return sqr_result
n1 = int(input())
n2 = int(input())
n3 = int(input())
x = sqr(n1, n2, n3) 
print(x)

60

In [ ]:
n=0
while n<10:
  print(n)
  n = n+1

In [ ]:
for i in range(0, 9, 2):
  print(i)

0
2
4
6
8

**String operation**

In [ ]:
x = "Hi!"
y = "My name is Zayan"

In [ ]:
#print(len(y))
y.find("x")

-1

In [ ]:
z = y.replace("Zayan", "Nishad")
print(z)

My name is Nishad

In [ ]:
print(y[0:5])
print(z[2:-4])

My na
 name is Ni

In [ ]:
print(y[13])
print(y[-2])
sorted(y, reverse = True)

y

['y',
 'y',
 's',
 'n',
 'n',
 'm',
 'i',
 'e',
 'a',
 'a',
 'a',
 'Z',
 'M',
 ' ',
 ' ',
 ' ']

In [ ]:
print(y.upper())

MY NAME IS ZAYAN

In [ ]:
my_list = [1,2,10,20, 60]
#print(my_list[4])
print(max(my_list))
print(sum(my_list))

60
93

In [ ]:
10 in my_list

True

In [ ]:
my_list.append(200)

In [ ]:
my_list

[1, 2, 10, 20, 60, 200]

In [ ]:
my_list.remove(2)

In [ ]:
my_list

[1, 10, 20, 60, 200]

In [ ]:
my_list.pop(1)
my_list

[1, 20, 60, 200]

In [ ]:
my_list.insert(0, 250)
my_list

[250, 1, 20, 60, 200]

In [ ]:
my_list[-1:-4:-1]

[200, 60, 20]

In [ ]:
mat = [[1, 2, 3, 4], [5, 6, 7, 8]]
mat[1][2]
mat[1][1] = 11
mat

[[1, 2, 3, 4], [5, 11, 7, 8]]

In [ ]:
#tuple
sample_tuple = (1, 2.3, 5, 6)

sample_tuple[1] = "hello"

TypeError: ignored

In [ ]:
#sets
sample_set = {"apple", "banana", "cherry", "apple"}
sample_set

{'apple', 'banana', 'cherry'}

In [ ]:
sample_set.add("orange")
sample_set

{'apple', 'banana', 'cherry', 'orange'}

In [ ]:
sample_set.remove("banana")
sample_set

{'apple', 'cherry', 'orange'}

In [ ]:
students = {101:"Nirjon", 105: "Redwan", 203: "Alifa"}
students

{101: 'Nirjon', 105: 'Redwan', 203: 'Alifa'}

In [ ]:
students[105] = "Joyita"
students

{101: 'Nirjon', 105: 'Joyita', 203: 'Alifa'}

In [ ]:
students[203]

'Alifa'

In [ ]:
students.update({207:"Mehedi"})
students

{101: 'Nirjon', 105: 'Joyita', 203: 'Alifa', 207: 'Mehedi'}

In [ ]:
students.pop(101)
students

{105: 'Joyita', 203: 'Alifa', 207: 'Mehedi'}

In [ ]:
for x, y in students.items():
  print("key=", x, "value=", y)

key= 105 value= Joyita
key= 203 value= Alifa
key= 207 value= Mehedi

Collection

In [ ]:
from collections import Counter

print(Counter(['B', 'B', 'A', 'B', 'C', 'A', 'B']))

Counter({'B': 4, 'A': 2, 'C': 1})

In [ ]:
print(Counter("abcd111nsc2b"))

Counter({'1': 3, 'b': 2, 'c': 2, 'a': 1, 'd': 1, 'n': 1, 's': 1, '2': 1})

In [ ]:
students = {101:"Nirjon", 105: "Redwan", 203: "Alifa"}

In [ ]:
print(students[109])

KeyError: ignored

In [ ]:
from collections import defaultdict
x = defaultdict(int, {101:"Nirjon", 105: "Redwan", 203: "Alifa"})

print(x[216])

0

In [ ]:
from collections import ChainMap
x = {'a':1, 'b':2}
y = {'c':3, 'd':4}
z = {'e':5, 'f':6}

c = ChainMap(x,y,z)
print(c)

ChainMap({'a': 1, 'b': 2}, {'c': 3, 'd': 4}, {'e': 5, 'f': 6})

In [ ]:
print(c['c'])

3

In [ ]:
x = ("nafis", 19, 203)
x[0]

'nafis'

In [ ]:
from collections import namedtuple

nt = namedtuple('student_tuple', ['name', 'age', 'id'])

x = nt("nafis",19, 203)
print(x.age)

19

In [ ]:
from collections import deque

x = deque([1,2,3])

x.append(4)
print(x)

deque([1, 2, 3, 4])

In [ ]:
x.appendleft(4)
print(x)

deque([4, 1, 2, 3, 4])

In [ ]:
x.appendleft(0)
print(x)

deque([0, 4, 1, 2, 3, 4])

In [ ]:
x.popleft()
print(x)

deque([4, 1, 2, 3, 4])

In [ ]:
sentence = "Mary and Samantha arrived at The bus station early but waited until noon for the bus."
sentence = sentence.lower()
sentence = sentence.replace(".","")
words = sentence.split()

#print(Counter(words))
word_frequency = {}

for x in words:
  if x not in word_frequency:
    word_frequency[x]  = 1
  else:
    word_frequency[x]+=1

print(word_frequency)

{'mary': 1, 'and': 1, 'samantha': 1, 'arrived': 1, 'at': 1, 'the': 2, 'bus': 2, 'station': 1, 'early': 1, 'but': 1, 'waited': 1, 'until': 1, 'noon': 1, 'for': 1}

# Stack, Queue

In [ ]:
my_stack = [3,4,5]
my_stack.append(1)
my_stack.append(10)
print(my_stack)

[3, 4, 5, 1, 10]

In [ ]:
my_stack.pop()
print(my_stack)

[3, 4, 5, 1]

In [ ]:
from collections import deque
my_queue = deque(['B', 'A', 'C', 'D'])
my_queue.append('G')
print(my_queue)

my_queue.popleft()
print(my_queue)

deque(['B', 'A', 'C', 'D', 'G'])
deque(['A', 'C', 'D', 'G'])

In [ ]:
class Person:
  def __init__(self, person_name, doy, ht):
    self.__name = person_name
    self.dateofyear = doy
    self.height = ht

  def get_name(self):
    return self.__name.upper()

  def set_name(self, new_name):
    self.__name = new_name

In [ ]:
person1 = Person('Nishad', 2000, "6 feet")
print(person1.get_name())
person1.set_name("Mehenaz")
print(person1.get_name())

NISHAD
MEHENAZ

In [ ]:
print(person1.get_name())

NISHAD

In [ ]:
person2 = Person("abc", 1990, "4 feet")

In [ ]:
class Stack:
  def __init__(self):
    self.data = []

  def size(self):
    return len(self.data)

  def isempty(self):
    if self.size()==0:
      return True
    else:
      return False

  def push(self, new_element):
    self.data.append(new_element)

  def pop(self):
    if self.isempty():
      print("Stack is empty")
    else:
      self.data.pop()

  def peek(self):
    if self.isempty():
      print("Stack is empty")
    else:
      return self.data[-1]

In [ ]:
s1 = Stack()
s1.push('B')
s1.push('A')
s1.push('C')
s1.push('D')

print(s1.data)

['B', 'A', 'C', 'D']

In [ ]:
print(s1.peek())

D

In [ ]:
s1.pop()
s1.pop()
s1.pop()
s1.pop()

s1.peek()

Stack is empty

In [ ]:
from collections import deque

class Queue:
  def __init__(self):
    self.data = deque()

  def size(self):
    return len(self.data)

  def isempty(self):
    if self.size()==0:
      return True
    else:
      return False

  def enqueue(self, new_element):
    self.data.append(new_element)

  def dequeue(self):
    if self.isempty():
      print("Queue is empty")        
    else:
      self.data.popleft()

  def peek(self):
    if self.isempty():
      print("Queue is empty")        
    else:
      return self.data[0]

In [ ]:
q1 = Queue()
q1.enqueue("Arif")
q1.enqueue("Sajib")
q1.enqueue("Nafis")

print(q1.peek())

Arif

In [ ]:
q1.dequeue()
q1.dequeue()
q1.dequeue()
print(q1.size())

0

In [ ]:
q1.peek()

Queue is empty

In [ ]:
from array import *

my_array = array('i', [10,20,30,40])

for i in my_array:
  print(i)

10
20
30
40

In [ ]:
print(my_array[1])

20

In [ ]:
my_array.append(50)
my_array

array('i', [10, 20, 30, 40, 50, 50])

In [ ]:
my_array.insert(0, 100)
my_array

array('i', [100, 10, 20, 30, 40, 50, 50])

In [ ]:
my_array.pop()
my_array

array('i', [100, 10, 20, 30, 40, 50])

In [ ]:
my_array.remove(30)
my_array

array('i', [100, 10, 20, 40, 50])

In [ ]:
my_array.reverse()

In [ ]:
my_array

array('i', [50, 40, 20, 10, 100])

In [ ]:
print(my_array.buffer_info())

(140514296438704, 5)

In [ ]:
print(my_array.count(120))

0

In [ ]:
a = my_array.tolist()
print(a)

[50, 40, 20, 10, 100]

### Stack Queue related problems

In [ ]:
ord("A")

65

In [ ]:
def print_reverse(input):
  s = Stack()
  for i in range(len(input)):
    s.push(input[i])

  for i in range(len(input)):
    print(s.peek()," : ", ord(s.peek()))
    s.pop()

print_reverse("Aquib")

b  :  98
i  :  105
u  :  117
q  :  113
A  :  65

In [ ]:
from random import randint
class Track:
  def __init__(self, title):
    self.title = title
    self.duration = randint(5,10)

In [ ]:
t1 = Track("Khola Janala")
print(t1.title, " : ", t1.duration)

Khola Janala  :  9

In [ ]:
t2 = Track("Shei Tumi")
print(t2.title, " : ", t2.duration)

Shei Tumi  :  8

In [ ]:
import time
media_player = Queue()
media_player.enqueue(t1)
media_player.enqueue(t2)

def play():
  while not media_player.isempty():
    current_song = media_player.peek()
    print("Playing.....", current_song.title)
    time.sleep(current_song.duration)
    media_player.dequeue()

  print("All tracks finished")

play()

Playing..... Khola Janala
Playing..... Shei Tumi
All tracks finished

# Linked List

In [ ]:
class Node:
  def __init__(self, data):
    self.data = data
    self.next = None

In [ ]:
n1 = Node(10)
n2 = Node(15)
n3 = Node(20)

n1.next = n2
n2.next = n3

current_node = n1
while current_node:
  print(current_node.data)
  current_node = current_node.next

10
15
20

In [ ]:
class SinglyLinkedList:
  def __init__(self):
    self.head = None
    self.size = 0

  def append(self, new_data):
    new_node = Node(new_data)
    if self.head is None:
      self.head = new_node
    else:
      current_node = self.head
      while current_node.next:
        current_node = current_node.next
      current_node.next = new_node
    self.size+=1

  def append_left(self, new_data):
    new_node = Node(new_data)
    if self.head is None:
      self.head = new_node
    else:
      new_node.next = self.head
      self.head = new_node
    self.size += 1    

  def append_after(self,target_data, new_data):
    new_node = Node(new_data)
    if self.size==0:
      print("List is empty")
    else:
      current_node = self.head
      while current_node.next is not None:
        if current_node.data==target_data:
          self.size+=1
          new_node.next = current_node.next
          current_node.next = new_node
          return
        else:
          current_node = current_node.next  

  def pop_left(self):
    if self.size==0:
      print("List is empty")
    else:
      self.head = self.head.next
      self.size-=1  

  def pop(self):
    if self.size==0:
      print("List is empty")
    else:
      self.size-=1
      if self.head.next is None:
        self.head=None
      else:
        current_node = self.head
        while current_node.next is not None:
          if current_node.next.next is None:
            current_node.next = None
          else:  
            current_node = current_node.next

  def print_all(self):
    current_node = self.head
    while current_node is not None:
      print("Node",current_node.data)
      current_node = current_node.next

  def delete(self, value_to_be_deleted):
    if self.size==0:
      print("List is empty")
    else:
      current_node = self.head
      if self.head.data== value_to_be_deleted:
        self.pop_left()
      else:
        while current_node.next is not None:
          if current_node.next.data == value_to_be_deleted:
            self.size-=1
            current_node.next = current_node.next.next
            return
          else:
            current_node = current_node.next      

  def clear(self):
    self.head = None
    
  def search(self, search_data):
    current_node = self.head
    while current_node:
      if current_node.data == search_data:
        return True
      current_node= current_node.next
    return False

In [ ]:
s = SinglyLinkedList()
s.append(10)
s.append(15)
s.append(20)
s.append_left(25)
s.append_after(20, 50)
# s.pop_left()
# s.pop()
s.delete(15)
s.print_all()
print(s.size)
print(s.search(50))

Node 25
Node 10
Node 20
3
False

In [2]:
class Node:
  def __init__(self, data):
    self.data = data
    self.next = None

class SpecialSinglyLinkedList:
  def __init__(self):
    self.head = None
    self.tail = None
    self.size = 0

  def append(self, new_data):
    new_node = Node(new_data)
    if self.head is None:
      self.head = new_node
      self.tail = new_node
    else:
      self.tail.next = new_node
      self.tail = new_node
    self.size+=1  

  def print_all(self):
    current_node = self.head
    while current_node is not None:
      print("Node",current_node.data)
      current_node = current_node.next

a = SpecialSinglyLinkedList()
a.append(0)
a.append(5)
a.append(10)
a.print_all()

Node 0
Node 5
Node 10

Find the sum of the nodes of a singly linked list

In [ ]:
s = SinglyLinkedList()
s.append(10)
s.append(40)
s.append(30)

def calculate_sum(s_object):
  if s_object.size!=0:
    sum = 0
    current_node = s_object.head
    while current_node is not None:
      sum+= current_node.data
      current_node = current_node.next
    return sum

calculate_sum(s)

80

Identical linked list

In [ ]:
s1 = SinglyLinkedList()
s1.append(10)
s1.append(40)
s1.append(30)

s2 = SinglyLinkedList()
s2.append(10)
s2.append(40)
s2.append(30)

def is_identical(list1, list2):
  identical =  True
  if list1.size!=0 and list2.size!=0:
    current_node1 = list1.head
    current_node2 = list2.head

    while current_node1 is not None:
      if current_node1.data == current_node2.data:
        identical = True
      else:
        identical = False
        return identical
      current_node1 = current_node1.next
      current_node2 = current_node2.next

  return identical      
is_identical(s1,s2)

True

Print all node except alternate nodes

In [ ]:
s = SinglyLinkedList()
s.append(10)
s.append(20)
s.append(30)
s.append(40)
s.append(50)

def print_all_except_alt(s_object):
  current_node = s_object.head
  counter = 0
  if current_node is None:
    return
  while current_node is not None:
    if counter%2==0:
      print(current_node.data)
    counter+=1
    current_node = current_node.next

print_all_except_alt(s)

10
30
50

Print a dictionary where the keys are numbers between 1 and 15 and the values are square of keys

In [ ]:
my_dictionary = dict()
for x in range(15,0, -1):
  my_dictionary[x] = x**2

print(my_dictionary)

{15: 225, 14: 196, 13: 169, 12: 144, 11: 121, 10: 100, 9: 81, 8: 64, 7: 49, 6: 36, 5: 25, 4: 16, 3: 9, 2: 4, 1: 1}

print the sum of all items(value) in a dictionary

In [ ]:
my_dictionary = {'data1':100, 'data2':-54, 'data3': 247}
print(sum(my_dictionary.values()))

293

In [ ]:
def sum_of_dictionary(d):
  list = []
  for i in d:
    list.append(d[i])

  return sum(list)

sum_of_dictionary(my_dictionary)

293

Add two 3*3 matrices

In [ ]:
x = [[12,7,3], [4,5,6], [7,8,9]]
y = [[5,8,1],[6,7,3], [4,5,9]]

z = [[0,0,0],[0,0,0],[0,0,0]]

for i in range(len(x)):
  for j in range(len(x[0])):
    z[i][j] = x[i][j] + y[i][j]

for i in z:
  print(i)

[17, 15, 4]
[10, 12, 9]
[11, 13, 18]